body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: green;
}

h1{
  background-color: lightgray;
}

#inputForm {
  border:1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#equalsButton {
  background-color: lightgray;
}

.opButtons {
  background-color: lightgray;
}

#addButton {
  margin-left: 110px;
}