<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title></title>
        <script type="text/javascript" src = "../javascripts/jquery.min.js"></script>
        <script type="text/javascript" src = "../javascripts/clientapp.js"></script>

    </head>

    <body>
    <h1> Calculator </h1>

    <form id="inputForm" method="POST">
        Input 1:<input name="input1" id='fInput1' type="number"/>
        Input 2:<input name="input2" id='fInput2' type="number"/>
        <button id="equalsButton" type="submit">=</button>
    </form>

    <button id="addButton">Add</button>
    <button id="subButton">Subtract</button>
    <button id="multButton">Multiply</button>
    <button id="divButton">Divide</button>


    <p class="appendMe"></p>

    </body>

</html>